</div>

<hr/>
<div class="subscribe-wrapper">
    <div class="container" id="subscribe">
        <h3 align="center" class="section-header">Subscribe for the latest EnterpriseReady tips.</h3>
        <div class="row">
            <div class="three columns">
                &nbsp;
            </div>
            <div class="seven columns">
                <form action="https://replicated.createsend.com/t/d/s/uhvtj/" method="post" id="subForm">
                    <input id="fieldEmail" name="cm-uhvtj-uhvtj" type="email" class="" placeholder="you@youremail.com" required>
                    <input id="fieldcykgu" name="cm-f-cykgu" type="hidden" value="{{ .Title }}" />
                    <input class="button button-primary" type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="footer-wrapper">
  <div class="container" id="footer">
      <p align="center">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img alt="Creative Commons License" class="cc-image" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
        Contributed by <a class="replicated-logo" href="https://www.replicated.com" target="_blank"></a></p>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61420213-5', 'auto');
  ga('send', 'pageview');
</script>

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','nxrcn');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
  </body>
</html>
