<div data-remodal-id="modal-subscribe">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h3 align="center" class="section-header">Subscribe for the latest EnterpriseReady tips.</h3>
    <p align="center">We won't bug you often, but when we do it will include significant updates and contributions to EnterpriseReady.</p>
    <div class="row">


            <form action="https://replicated.createsend.com/t/d/s/uhvtj/" method="post" id="subForm">
                <input id="fieldEmail" name="cm-uhvtj-uhvtj" type="email" class="" placeholder="you@youremail.com" required>
                <input id="fieldcykgu" name="cm-f-cykgu" type="hidden" value="Homepage Modal" />
                <input class="button button-primary" type="submit" value="Subscribe">
            </form>

    </div>
</div>

<script>

    if (!sessionStorage.isNewSession)
        setTimeout(func, 4000);

        function func() {
            var inst = $('[data-remodal-id=modal-subscribe]').remodal();
            inst.open();
            sessionStorage.isNewSession = true;
        }



</script>
