{{ partial "header.html" . }}

<div>

    <div class="about-hero-section">
        <div class="about-hero-content">
            <div class="about-hero-main">
                <h1>What is EnterpriseReady?</h1>
                <p>EnterpriseReady is a guide to creating or enhancing a SaaS product with common features that will
                    enable more adoption by enterprise customers.</p>
            </div>
            <img src="" />
        </div>
    </div>

</div>


{{ partial "footer.html" . }}
