{{ partial "header.html" . }}

<div>

    <div class="about-hero-section">
        <div class="about-hero-content">
            <div class="about-hero-main">
                <h1>What is EnterpriseReady?</h1>
                <p>EnterpriseReady is a guide to creating or enhancing a SaaS product with common features that will
                    enable more adoption by enterprise customers.</p>
            </div>
            <img class="about-hero-image" src="/images/Guidebook 2.svg" />
        </div>
    </div>
    <div class="about-who-for-section">
        <div class=about-flex-container>
            <div class="about-content" id="who-for">
                <h1>Who is it for?</h1>
                <p>EnterpriseReady was created for the people who build SaaS products, founders, product managers and
                    engineering team leads.</p>
            </div>
        </div>
        <img class="engineers-right" src="/images/engineers-right.png"/>
        <img class= "engineers-left" src="/images/engineers-left.png"/>
    </div>

    <div class="about-who-from-section">
        <div class=about-flex-container>
            <div class="about-content" id="who-from">
                <h1>Who is it from?</h1>
                <p>We run a company called <a href="https://www.replicated.com">Replicated</a> that enables SaaS applications to create an enterprise installable version of their product to be distributed behind the firewall. We’ve
                    built and sold a SaaS
                    company previously. We work closely with many SaaS founders and teams. In order to be successful with the Replicated platform, SaaS companies generally need a baseline of features that enterprise customers want.
                    We've led the charge
                    on much of the content, but we've been lucky to have contributers like the teams at <a href="https://www.segment.com">Segment</a> and <a href="https://www.jaspersoft.com">TIBCO Jaspersoft</a> to contribute to
                    areas where they're
                    experts.
                </p>
            </div>
            <img src="/images/replicated-tag.svg" />
        </div>
    </div>

    <div class="about-why-section">
        <div class=about-flex-container>
            <div class="about-content" id="who">
                <h1>Why are we doing it?</h1>
                <p>We're product people. So, we're changing the enterprise software narrative from "how to <strong>SELL</strong> to the enterprise" to "how to <strong>BUILD</strong> for the enterprise." Hopefully this site can create
                    a common vernacular
                    for founders, product managers, engineers, sales and customers alike. We know we're not always right... so we <a href="https://github.com/enterpriseready/enterpriseready">open sourced this</a>, you can fork it,
                    create edits, share
                    it with your team and even contribute those back.</p>
            </div>
            <img src="/images/about-page-stack.svg" />
        </div>
    </div>
    
    </div>


{{ partial "footer.html" . }}
