/* Reset browser styles */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
	font-family: inherit;
}

body {
	font-family: 'Times New Roman';
	font-size: 100%;
	background-color: #ffffff;
	color: #000000;
	margin-left: 26px;
	margin-right: 26px;
}

table {
	font-size: 1em; /* fix for IE not inheriting font size */
}

div.final {
	margin-top: 24px;
	margin-left: 54px;
	margin-right: 54px;
}
div.signatory {
	margin-left: 267px;
	margin-right: 54px;
}
div.text-l {
	font-size: 1em;
	text-align: justify;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 13px;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
}

hr.doc-end {
	width: 20%;
	height: 1px;
	color: black;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
hr.doc-sep {
	width: 10%;
	height: 1px;
	color: black;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
hr.note {
	width: 20%;
	height: 1px;
	color: black;
	text-align: left;
	margin-top: 16px;
	margin-bottom: 4px;
}
hr.separator {
	width: 100%;
	height: 1px;
	color: black;
	margin-top: 4px;
	margin-bottom: 4px;
}

p.addr {
	text-align: justify;
	margin-top: 0;
	margin-bottom: 0;
}
p.center {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 0;
}
p.doc-ti {
	font-weight: bold;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 8px;
}
p.edition {
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.hd-date {
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.hd-lg {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
p.hd-oj {
	text-align: right;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.hd-ti {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.image {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.issn {
	font-size: 0.8em;
	text-align: right;
	margin-top: 16px;
	margin-bottom: 8px;
}
p.lg {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 13px;
}
p.no-doc-c {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.normal {
	text-align: justify;
	margin-top: 8px;
	margin-bottom: 0;
}
p.note {
	font-size: 0.8em;
	text-align: justify;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.separator {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.signatory {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.sti-art {
	font-weight: bold;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 8px;
}
p.tbl-cod {
	font-size: 0.9em;
	text-align: center;
	margin-right: 13px;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.tbl-hdr {
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	margin-right: 13px;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.tbl-notcol {
	font-size: 0.9em;
	text-align: right;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.tbl-num {
	font-size: 0.9em;
	text-align: right;
	margin-right: 13px;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.tbl-txt {
	font-size: 0.9em;
	text-align: left;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.text-l {
	text-align: justify;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.ti-annotation {
	font-style: italic;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 0;
}
p.ti-art {
	font-style: italic;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 8px;
}
p.ti-coll {
	font-size: 1.5em;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.ti-doc-dur {
	font-size: 1.1em;
	font-weight: bold;
	text-align: justify;
	margin-top: 12px;
	margin-bottom: 8px;
}
p.ti-doc-dur-assoc {
	font-size: 1.1em;
	font-weight: bold;
	text-align: justify;
	margin-top: 12px;
	margin-bottom: 8px;
}
p.ti-doc-dur-num {
	font-size: 1.1em;
	font-weight: bold;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 0;
}
p.ti-doc-dur-star {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 8px;
}
p.ti-doc-eph {
	font-size: 1.1em;
	text-align: justify;
	margin-top: 12px;
	margin-bottom: 8px;
}
p.ti-grseq-1 {
	font-weight: bold;
	text-align: justify;
	margin-top: 16px;
	margin-bottom: 8px;
}
p.ti-grseq-toc {
	font-style: italic;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 8px;
}
p.ti-oj-1 {
	font-size: 3em;
	font-weight: bold;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 0;
}
p.ti-oj-2 {
	font-size: 2em;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.ti-oj-3 {
	font-size: 3em;
	font-weight: bold;
	text-align: right;
	margin-top: 8px;
	margin-bottom: 0;
}
p.ti-sect-1-n {
	font-size: 1.1em;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.ti-sect-1-t {
	font-size: 1.1em;
	font-style: italic;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.ti-sect-2 {
	font-size: 1.1em;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.ti-section-1 {
	font-weight: bold;
	text-align: center;
	margin-top: 32px;
	margin-bottom: 0;
}
p.ti-section-2 {
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 8px;
}
p.ti-tbl {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.year-date {
	font-weight: bold;
	text-align: right;
	margin-top: 8px;
	margin-bottom: 8px;
}

span.bold {
	font-weight: bold;
}
span.italic {
	font-style: italic;
}
span.sp-normal {
	font-weight: bold;
	font-style: italic;
}
span.sub {
	vertical-align: sub;
	font-size: 0.7em;
}
span.super {
	vertical-align: super;
	font-size: 0.7em;
}
span.stroke {
	text-decoration:line-through;
}

span.underline {
	text-decoration:underline;
}

.table {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-spacing: 0;
}

/* Jira EURLEXNEW-576 */
.ti-info {
	text-decoration:underline;
}
