{{ partial "header.html" . }}
  
<div>

    <div class="podcast-page-hero">
        <div class="podcast-page-hero-content">
            <h1>{{ .Title }}</h1>
        </div>
        <div class="podcast-background-holder">
            <img class="podcast-page-hero-background" src="/images/podcast-page-hero-background.svg" />
        </div>
    </div>

    <div class="podcast-page-content-background">
        <div class="podcast-page-content">
            {{ .Content }}
        </div>
        <img class="podcast-red" src="/images/podcast-red.svg"/>

    </div>

  
    <div class="episode-section-wrapper">
        <h1>Episodes</h1>
        <div class="episode-flex-container container" id="episodelist">
            {{ range .Pages.ByWeight.Reverse }}
            <div class="episode-outer">
                <div class="episode">
                    <a href={{ .Permalink }} target="_blank">
                        <img src={{ .Params.Image }} align="left" style="margin: 0;" />
                    </a>
                    <a href={{ .Permalink }} target="_blank">
                        <h3>EP{{ .Weight }}
                            <img class="episode-play" src="../images/Polygon 1.svg" />
                        </h3>
                        <h4>{{ .Title }}</h4>
                    </a>
                </div>
            </div>
            {{ end }}
        </div>
        <h3>Are you interested in being a guest on the EnterpriseReady Podcast? If so, <a href="mailto:grant.miller@replicated.com?cc=chris@replicated.com&subject=Being a guest on the EnterpriseReady Podcast">drop us a note here</a>. </h3>
    </div>

{{ partial "footer.html" . }}