{{ partial "header.html" . }}

<div class="container" id="breadcrumbs">
  <div id="tool-tip">
    <a href="/features/{{ .Params.featureslug }}">{{ .Params.feature }}</a>
    </div>
    <span>//</span> {{ .Params.company }}
    <div class="pull-right">
      <a href="https://github.com/enterpriseready/enterpriseready/edit/master/content/{{ .File.Path }}">Edit this page</a>
    </div>
  </div>

  <div class="container" id="article">

    <h1>{{.Title}}</h1>

    {{ .Content }}
    {{ partial "footer.html" . }}
