{{ partial "header.html" . }}

<div class="second-nav">

  <div class="container" id="breadcrumbs">
    <div id="tool-tip">
      <a href="/gdpr"><span style="cursor:pointer;color:#878787">GDPR</span></a>
      <div class="tool-tip">
        <ul>
          <li><a href="/gdpr/">GDPR Home</a></li>
          <hr />
          <li><a href="/gdpr/what-is-gdpr">GDPR 101</a></li>
          <hr />
          <li><a href="/gdpr/gdpr-202">GDPR 202</a></li>
          <hr />
          <li><a href="/gdpr/gdpr-saas">GDPR & SaaS</a></li>
          <hr />
          <li><a href="/gdpr/preparing-for-gdpr">Preparing for GDPR</a></li>
          <hr/>
          <li><a href="/gdpr/how-to-read-gdpr">How to read GDPR</a></li>
          <hr/>
          <li><a href="/gdpr/useful-gdpr-links">Useful GDPR Links</a></li>
        </ul>
      </div>
      </div>
      <span>/</span> {{.Title}}
      <div class="pull-right">
        <a class="edit-button" href="https://github.com/enterpriseready/enterpriseready/edit/master/content/{{ .File.Path }}">Edit this page</a>
      </div>
    </div>

</div>

  <div class="container gdpr" id="article">


    <p align="center"><img src="{{ .Params.hero }}" /></p>

    <!-- <p class="table-of-contents">

            <a href="/gdpr/">Find our entire catalog of GDPR analysis here.</a>

    </p> -->

    <h1>{{.Title}}</h1>

    {{ .Content }}

    {{ partial "subscribe.html" . }}

    {{ partial "footer.html" . }}
