{{ partial "header.html" . }}

<div class="second-nav">

  <div class="container" id="breadcrumbs">
    <div id="tool-tip">
      <span style="cursor:pointer;color:#878787">Features</span>
      <div class="tool-tip">
        <ul>
          <li><a href="/features/product-assortment">Product Assortment</a></li>
          <hr />
          <li><a href="/features/single-sign-on">Single Sign On</a></li>
          <hr />
          <li><a href="/features/audit-log">Audit Logs</a></li>
          <hr />
          <li><a href="/features/role-based-access-control">Role Based Access Control</a></li>
          <hr />
          <li><a href="/features/change-management">Change Management</a></li>
          <hr />
          <li><a href="/features/product-security">Product Security</a></li>
          <hr />
          <li><a href="/features/deployment-model">Deployment Model</a></li>
          <hr  />
          <li><a href="/features/teams">Team Management</a></li>
          <hr  />
          <li><a style="opacity: 0.6" href="/features/support">SLA and Support</a></li>
          <hr  />
          <li><a style="opacity: 0.6" href="/features/integrations">Integrations</a></li>
          <hr />
          <li><a style="opacity: 0.6" href="/features/advanced-reporting">Advanced Reporting</a></li>
        </ul>
      </div>
      </div>
      <span>/</span> {{.Title}}
      <div class="pull-right">
        <a class="edit-button" href="https://github.com/enterpriseready/enterpriseready/edit/master/content/{{ .File.Path }}">Edit this page</a>
      </div>
    </div>

</div>

  <div class="container" id="article">
    <p align="center"><img src="{{ .Params.hero }}" /></p>

    <h1>{{.Title}}</h1>

    {{ .Content }}
    {{ partial "footer.html" . }}
