{{ if not (in (.Site.BaseURL | string) "localhost") }}
{{ if $.Site.Params.gtm }}
  <!-- Osano -->
  <script src="https://cmp.osano.com/16A1CbSyDLkxI4LPE/cb93e807-ba01-4a5e-9788-4fcafdab3123/osano.js"></script>
  <!-- End Osano -->
  <!-- Google Tag Manager -->
  <!-- create dataLayer -->
  <script>
    var dataLayer = window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      page:'{{ .Title }}',
      categories:'Your dataLayer'
    });
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ $.Site.Params.gtm }}');</script>
  <!-- End Google Tag Manager -->
  {{ end }}
  <!-- Bizible -->
  <script type="text/javascript" src="//cdn.bizible.com/scripts/bizible.js" async=""></script>
  <!-- End Bizible -->
{{ end }}