<!DOCTYPE html>
<html lang="en" class="js csstransforms3d">

<head>
    <meta charset="utf-8">
    {{ partial "meta.html" . }}
    {{ partial "favicon.html" . }}
    {{ .Scratch.Add "title" "" }}{{ .Scratch.Set "title" .Title}}
    <title>{{ with .Params.pagetitle }}{{ . }}{{ else }}{{ with .Title }}{{ . }}{{ end }}{{ end }}</title>
    {{ partial "style.html" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/featherlight.min.js"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body class="" data-url="{{ .RelPermalink }}">
    <div class="header-section">
        <div class="container" id="inner-nav">

            <nav class="navbar navbar-expand-lg" style="background-color: #141C34">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="/images/enterprise-ready-logo.svg" width="60" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-bs-target="#mobile-collapse" data-target="#mobile-collapse" aria-controls="test"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mobile-collapse">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <div id="feature-guides-hover" class="dropdown">
                                    <a class="nav-link active dropbtn" aria-current="page" href="../#features">Feature
                                        guides</a>
                                    <div class="dropdown-content">
                                        <div class="dropdown-features">
                                            <div class="dropdown-column">
                                                <div id="dropdown-feature">
                                                    <a href="/features/product-assortment"><img
                                                            src="/images/product_icon_menu.svg" />Product Assortment</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="/features/role-based-access-control/"><img
                                                            src="/images/role_based_access_icon_menu.svg" />Role based
                                                        access control</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="/features/deployment-options/"><img
                                                            src="/images/deployment_options_icon_menu.svg" />Deployment
                                                        options</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="/features/advanced-reporting/"><img
                                                            src="/images/reporting_icon_menu.svg" />Reporting and
                                                        analytics</a>
                                                </div>
                                            </div>
                                            <div class="dropdown-column">
                                                <div id="dropdown-feature">
                                                    <a href="/features/single-sign-on"><img
                                                            src="/images/sign-on-_icon_menu.svg" />Single sign-on</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="/features/change-management/"><img
                                                            src="/images/change_management_icon_menu.svg" />Change
                                                        management</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="/features/teams/"><img
                                                            src="/images/team_management_icon_menu.svg" />Team
                                                        management</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="/features/sla-support/"><img
                                                            src="/images/SLA_icon_menu.svg" />SLA and support</a>
                                                </div>

                                            </div>
                                            <div class="dropdown-column">
                                                <div id="dropdown-feature">
                                                    <a href="/features/audit-log/"><img
                                                            src="/images/sign-on-_icon_menu.svg" />Audit logs</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="/features/product-security/"><img
                                                            src="/images/security_icon_menu.svg" />Product security</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="/features/integrations/"><img
                                                            src="/images/integrations_icon_menu.svg" />Integrations</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="/gdpr/"><img src="/images/GDPR_icon_menu.svg" />GDPR</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li {{ if eq .RelPermalink "/assessment/" }}id="assessment-active"{{ end }} class="nav-item">
                                <a id="assessment-hover" class="nav-link" href="/assessment">Assessment</a>
                            </li>
                            <li {{ if eq .RelPermalink "/podcast/" }}id="podcast-active"{{ end }} class="nav-item">
                                <a id="podcast-hover" class="nav-link" href="/podcast">Podcast</a>
                            </li>
                            <li {{ if eq .RelPermalink "/about/" }}id="about-active"{{ end }} class="nav-item">
                                <a id="about-hover" class="nav-link" href="/about">About</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            Contributed by <a id="disguise-link" href="https://www.replicated.com"
                                target="_blank">REPLICATED</a>
                        </span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>