{{ partial "header.html" . }}

<div>
    <div class="assessment-hero-section"> 
        <div class="assessment-hero-content">
            <div class="assessment-main-content">
                <h1>Is your app EnterpriseReady?</h1>
                <p>Take this self-assessment to find out how ready your application is for enterprise adoption.</p>
                <div class="assessment-content-buttons">
                    <a href="https://www.enterprisegrade.io" class="button button-primary" target="_blank" style="width: 270px">Take
                        Assessment</a>
            
                    <a href="https://www.enterprisegrade.io/#examples" class="button button-secondary" target="_blank"
                        style="width: 270px">See Examples</a>
                </div>
            </div>
            <img src="/images/assessment-checklist.svg"/>
        </div>

        <div class="assessment-section">
            <div class="assessment-info">
                <h1>The assessment</h1>
                <p>At EnterpriseReady.io, we've identified common features that set enterprise software apart. This 12-question
                    self-assessment gives you a framework to analyze your current implementation of those features and provides
                    feedback
                    on how to improve features that matter most to enterprise customers.
                </p>
                <p><strong>Benchmark your application on the 12 most common enterprise features</strong></p>
                <div class="assessment-benchmark-features">
                    <div class="assessment-features">Team Management</div>
                    <div class="assessment-features">Team Management</div>
                    <div class="assessment-features">Team Management</div>
                    <div class="assessment-features">Team Management</div>
                    <div class="assessment-features">Team Management</div>
                    <div class="assessment-features">Team Management</div>
                    <div class="assessment-features">Team Management</div>
                    <div class="assessment-features">Team Management</div>
                    <div class="assessment-features">Team Management</div>
                    <div class="assessment-features">Team Management</div>
                    <div class="assessment-features">Team Management</div>
                    <div class="assessment-features">Team Management</div>
                </div>
            </div>
        </div>

    </div>
</div>


{{ partial "footer.html" . }}
