/* Base Styles */

* {
  list-style: none;
}
.clear {
  clear: both;
}
hr {
  height: 1px;
  background-color: #dedede;
  border: none;
  width: 1200px;
  margin: 30px auto;
  size: 10px;
}

strong {
  font-weight: 500;
}
.date {
  font-weight: 500;
  color: #3735ea;
}
.read-more {
  border: 1px solid;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  transition: border 0.2s;
  background-color: #3735ea;
  color: #ffffff;
}
.read-more:hover {
  border: 1px solid;
  border-color: #3735ea;
  color: #3735ea;
  background-color: #ffffff;
}

.examples {
  margin-left: 10px;
}

@media (max-width: 750px) {
  hr {
    width: 100%;
    margin: 30px auto;
  }
}

/* Nav */

#nav {
  padding: 25px 50px 5px;
  background-color: #3735ea;
}
#nav ul {
  float: left;
  margin-right: 10px;
}
#nav ul li {
  float: left;
  margin-top: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
}
@media (max-width: 550px) {
  #nav {
    padding: 25px 5% 5px;
  }
}

/* Inner Nav */

#inner-nav {
  margin-top: 25px;
  margin-bottom: 5px;
}
#inner-nav ul {
  margin-left: 15px;
}
#inner-nav ul li {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

#inner-nav ul li a {
  font-weight: 400;
}

a.disguise-link {
  color: inherit;
  transition: color 0.2s;
}

a.disguise-link:hover {
  color: #35a7ff;
}

#menu {
  display: none;
  float: left;
  position: absolute;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.menu ul {
  float: right;
  margin-top: 20px;
}

.menu ul li {
  float: left;
  margin: 0px 3px;
  color: #ccc;
}

@media (max-width: 750px) {
  #menu {
    display: block;
  }
  .logo {
    text-align: center;
  }
}

.mobile_menu {
  display: none;
  background-color: #3735ea;
  z-index: 1;
  width: 100%;
  padding: 25px 15px 10px;
  color: white;
}

.mobile_menu hr {
  width: 99%;
  background-color: white;
  margin: 5px 0px;
  padding: 0px;
}

.mobile_menu a {
  color: white;
}

.mobile_menu ul li:last-child,
.mobile_menu ul li:last-child a {
  color: white;
}

@media (max-width: 750px) {
  .menu {
    display: none;
  }

  .mobile_menu {
    padding: 20px 0px 5px;
  }

  .mobile_menu hr {
    width: 96%;
    background-color: white;
  }
}

.nav-div {
  height: 1px;
  background-color: #d6d6d6;
  width: 100%;
  margin-bottom: 40px;
}

/* Second Nav */

.second-nav {
  width: 100%;
  background-color: #f8f8f8;
  padding: 18px 0px 0px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

/* Breadcrumbs */

#breadcrumbs {
  font-size: 12px;
  text-transform: uppercase;
  color: #35a7ff;
  font-weight: 300;
  margin-bottom: 1.5em;
}
#breadcrumbs span {
  margin: 0px 6px;
}
#breadcrumbs span:last-child {
  color: #222;
}
#breadcrumbs .edit-button {
  font-size: 14px;
  text-transform: none;
  border-radius: 4px;
  border: 1px solid #3735ea;
  padding: 4px 5px;
  color: #3735ea;
  background-color: #ffffff;
  transition: all 0.2s;
}
#breadcrumbs .edit-button:hover {
  border-color: #bc372b;
  color: #bc372b;
}

/* Masthead */

.masthead-wrapper {
  padding-bottom: 50px;
  border-bottom: 1px solid #d6d6d6;
}

.masthead-wrapper .container {
  max-width: 740px;
}

/* Main */

#main {
  background-color: #35a7ff;
  padding: 30px 0px 50px;
  margin-top: -25px;
}
#main h1,
#main h4 {
  color: white;
}

/* Intro */

#intro {
  padding: 0px 100px 0px;
}
#intro p {
  font-size: 16px;
}
#intro .row {
  margin-bottom: 40px;
}
#intro .row:last-child {
  margin-bottom: 0px;
}
@media (max-width: 550px) {
  #intro {
    padding: 50px 5% 0px;
  }
  #intro .row {
    margin-bottom: 0px;
  }
}

h3.section-header {
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: normal;
  font-size: 30px;
  margin-bottom: 12px;
}

h3.section-header.sub {
  font-size: 24px;
  margin-bottom: 5px;
  color: #434343;
}

.header-desc-copy {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Checklist */

#checklist {
  margin-bottom: 25px;
  margin-top: 50px;
}
#checklist .checklist-icon {
  width: 60px;
  min-height: 60px;
  border: 1px solid #dedede;
  border-radius: 3px;
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px 10px 2px;
}
#checklist p {
  font-size: 16px;
  margin-bottom: 20px;
}
#checklist h3.section-header {
  margin-bottom: 40px;
}
#checklist .article-header {
  font-weight: 500;
  margin-bottom: 12px;
  font-size: 24px;
}
#checklist h2 + p {
  width: 650px;
  margin: 0px auto;
}
@media (max-width: 750px) {
  #checklist h2 + p {
    width: 90%;
    margin: 20px;
  }
}
#checklist .company-links {
  display: block;
}
#checklist .row {
  margin-top: 50px;
}
@media (max-width: 750px) {
  #checklist .row {
  }

  #checklist .columns {
    width: 100%;
    margin: 0px auto 40px;
  }
}
.company-tag {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.article-icon {
  min-height: 100px;
  margin-bottom: 20px;
  position: relative;
}

.article-icon span {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

span.pa {
  background: url("../images/article-icons/product-assortment@2x.png");
  background-size: 173px 82px;
  width: 173px;
  height: 82px;
}
span.sso {
  background: url("../images/article-icons/sso@2x.png");
  background-size: 84px 100px;
  width: 84px;
  height: 100px;
}
span.al {
  background: url("../images/article-icons/audit-logs@2x.png");
  background-size: 202px 92px;
  width: 202px;
  height: 92px;
}
span.rbac {
  background: url("../images/article-icons/rbac@2x.png");
  background-size: 191px 87px;
  width: 191px;
  height: 87px;
}
span.cm {
  background: url("../images/article-icons/change-management@2x.png");
  background-size: 118px 86px;
  width: 118px;
  height: 86px;
}
span.ps {
  background: url("../images/article-icons/product-security@2x.png");
  background-size: 67px 75px;
  width: 67px;
  height: 75px;
}
span.dm {
  background: url("../images/article-icons/deployment-model@2x.png");
  background-size: 190px 83px;
  width: 190px;
  height: 83px;
}
span.tm {
  background: url("../images/article-icons/team-management@2x.png");
  background-size: 126px 81px;
  width: 126px;
  height: 81px;
}
span.sla {
  background: url("../images/article-icons/sla@2x.png");
  background-size: 130px 91px;
  width: 130px;
  height: 91px;
}

span.gdpr {
  background: url("../images/article-icons/gdpr@2x.png");
  background-size: 108px 108px;
  width: 109px;
  height: 108px;
}
span.int {
  background: url("../images/article-icons/integrations@2x.png");
  background-size: 155px 98px;
  width: 155px;
  height: 98px;
}
span.ar {
  background: url("../images/article-icons/advanced-reporting@2x.png");
  background-size: 130px 62px;
  width: 130px;
  height: 62px;
}

span.dm {
  background: url("../images/article-icons/data-management.png");
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
}
span.sec {
  background: url("../images/article-icons/security.png");
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
}
span.int {
  background: url("../images/article-icons/integrations.png");
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
}
span.de {
  background: url("../images/article-icons/deploy.png");
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
}
span.te {
  background: url("../images/article-icons/checklist.png");
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
}
span.co {
  background: url("../images/article-icons/collab.png");
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
}
span.tm {
  background: url("../images/article-icons/team.png");
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
}
span.why {
  background: url("../images/article-icons/why.png");
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
}
/* Top Article */

#top-article img {
  float: right;
  margin-bottom: 20px;
}
@media (max-width: 550px) {
  #top-article img {
    display: none;
  }
}
#top-article h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

/* Footer */

#footer a,
a:hover,
a:active {
  color: #ffbc42;
}

#footer a.muted,
a.muted:hover,
a.muted:active {
  color: #fff;
}

#footer p {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

#footer a.replicated-logo {
  display: inline-block;
  vertical-align: -9px;
  margin-left: 3px;
  background: url("../images/white-logo.png");
  background-size: 110px 26px;
  background-repeat: no-repeat;
  width: 110px;
  height: 26px;
}

#footer a.shipyard-logo {
  display: inline-block;
  vertical-align: -9px;
  margin-left: 3px;
  margin-bottom: 3px;
  background: url("../images/white-logo.png");
  background-size: 135px 30px;
  background-repeat: no-repeat;
  width: 135px;
  height: 30px;
}

#footer .cc-image {
  vertical-align: -10px;
  margin-right: 10px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

#footer .cc-image:hover {
  opacity: 0.65;
}

.footer-wrapper {
  padding: 20px 0;
  background: #333333;
}

/* Subscribe */

.subscribe-wrapper {
  padding: 25px 0 25px;
}

#subscribe input[type="email"] {
  width: 325px;
}
@media (max-width: 550px) {
  #subscribe input {
    width: 100% !important;
  }
  #subscribe .three {
    display: none;
  }
}

/* Article */

#article {
  padding: 10px 12%;
}
#article .checklist-icon {
}
.article-feature {
  width: 250px;
  padding: 25px;
  border: 1px solid #dedede;
  border-radius: 3px;
  float: right;
  margin-top: 5px;
  margin-left: 20px;
}
#article p {
  font-size: 16px;
  line-height: 1.8;
}
#article ul {
  margin-left: 15px;
}
#article ul li {
  list-style: disc;
  font-size: 16px;
}
#article ol li {
  list-style: disc;
  font-size: 16px;
}
#article h1 {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
#article h1,
#article h2 {
  padding-top: 2.5rem;
}
#article h2 {
  color: black;
}

#article h4 {
  margin: 25px 0px 0px;
  font-weight: 400;
}

#article hr {
  margin: 0px 0px 20px 0px;
  width: 100%;
}

#article img {
  display: block;
  margin: 35px auto;
  max-width: 100%;
}

#article ol li {
  list-style: decimal;
  list-style-position: inside;
}
#article ol li ul li {
  list-style: disc;
  list-style-position: inside;
}
#article #article-nav {
  border-bottom: 1px solid #dedede;
  height: 49px;
}
#article #article-nav a {
  display: block;
  padding: 15px 0px;
  margin-right: 50px;
  text-transform: uppercase;
  float: left;
  font-size: 12px;
}
#article #article-nav a:hover,
#article #article-nav a:focus {
  border-bottom: 3px solid #3735ea;
  padding-bottom: 13px;
  color: #3735ea;
}
@media (max-width: 550px) {
  #article {
    padding: 0 5%;
  }
  .article-feature {
    width: 90%;
    margin: 10px 0px 20px;
    padding: 5%;
  }
  #article #article-nav a {
    font-size: 10px;
    margin-right: 25px;
  }
  #article #article-nav a:hover {
    border-bottom: 3px solid #3735ea;
    padding-bottom: 16px;
  }
  #article img {
    max-width: 100%;
  }
}

.gdpr blockquote {
  position: relative;
  background-color: #f5f8fc;
  padding: 20px 25px;
  margin: 20px 0;
  border-radius: 4px;
}

.gdpr blockquote p {
  margin-bottom: 0;
}
.gdpr blockquote a {
  color: #4a4a4a;
  font-weight: 500;
}
.gdpr blockquote a:hover {
  text-decoration: underline;
}

.gdpr blockquote::before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #62a7cf;
}

.gdpr blockquote > blockquote {
  margin: 0;
}
.gdpr blockquote > blockquote::before {
  display: none;
}

.table-of-contents {
  position: relative;
  background-color: #fcf5f5;
  padding: 25px 30px;
  margin: 20px 0;
  border-radius: 4px;
}

.table-of-contents {
  margin-bottom: 0;
}
.table-of-contents a {
  color: #ec5147;
  font-weight: 500;
  text-decoration: underline;
}
.table-of-contents a:hover {
  text-decoration: underline;
}

.table-of-contents::before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ec5147;
}

.gdpr .table-of-contents blockquote > blockquote {
  margin: 0;
}
.gdpr .table-of-contents blockquote > blockquote::before {
  display: none;
}

.feather img {
  cursor: pointer;
}

.example {
  float: left;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  background-color: #f8f8f8;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 280px;
  min-height: 274px;
  overflow: hidden;
}

.example:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
}

.example img {
  border-bottom: 1px solid #dfdfdf;
}

.example h3 {
  padding: 15px;
  font-weight: 400;
}

@media (max-width: 750px) {
  .example {
    width: 280px;
    margin: 15px auto !important;
    float: none;
  }
}

.episode-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.episode {
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  background-color: #f8f8f8;
  margin-bottom: 30px;
  width: 30%;
}

.episode:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
}

.episode img {
  border-bottom: 1px solid #dfdfdf;
}

.episode h3 {
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 750px) {
  .episode {
    width: 46%;
    margin: 15px auto !important;
    /*float: none;*/
  }
}

.coming-soon-container {
  position: relative;
}

.coming-soon-container img {
  height: auto;
  align-self: center;
}

.coming-soon {
  color: #fff;
  font-size: 1.3em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

/* Contribtors */
.contributors a {
  float: left;
  margin-right: 10px;
}

.contributors a img {
  margin: 0px !important;
  border-radius: 4px;
}

/* Breakdowns */

.breakdowns-wrapper {
  background-color: #f5f5f5;
  padding: 50px 0 60px;
}
#breakdowns .row {
  margin-top: 40px;
}
#breakdowns .three {
  min-height: 250px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0 18px 20px;
  background: #ffffff;
}
#breakdowns .three div {
  height: 110px;
  width: 150px;
  position: relative;
  margin: 0px auto;
}
#breakdowns .three div img {
  max-width: 125px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#breakdowns .row p {
  font-size: 18px;
  margin-bottom: 0;
  color: #323232;
}
@media (max-width: 550px) {
  #breakdowns .three {
    margin-bottom: 20px;
  }
}

.analysis-list {
  margin: 0;
  list-style-type: none;
}
.analysis-list li {
  margin-top: 6px;
  margin-bottom: 0;
}
.analysis-list li a {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.background-wrapper {
  padding: 60px 0;
  border-bottom: 1px solid #d6d6d6;
  background-color: #f5f5f5;
}

/* SaaS Feature Table */

#feature-table {
  padding: 10px 0px;
}
#feature-table {
  width: 1200px;
  margin: 0px auto 25px;
}
#feature-table::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 3px;
}
#feature-table::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0px rgba(255, 255, 255, 0.5);
}

@media (max-width: 550px) {
  #feature-table {
    width: 100%;
    margin: 0 5%;
    overflow-x: scroll;
    background: -webkit-linear-gradient(
      left,
      rgba(173, 183, 191, 0) 0,
      rgba(173, 183, 191, 0.2) 100%
    );
    background: linear-gradient(
      to right,
      rgba(173, 183, 191, 0) 0,
      rgba(173, 183, 191, 0.2) 100%
    );
    background-size: 10px 100%;
    background-position: right;
    background-repeat: no-repeat;
  }

  #feature-table div {
  }
}

.pull-right {
  float: right;
}

/* Tool Tip */

#tool-tip {
  float: left;
}
.tool-tip {
  border: 1px solid #dedede;
  border-radius: 3px;
  position: absolute;
  background-color: white;
  display: none;
  z-index: 1;
}
.tool-tip ul li {
  padding: 10px 15px 0px;
}
.tool-tip ul li:last-child {
  border: none;
  padding-bottom: none;
}
.tool-tip ul hr {
  width: 100%;
  margin: 0px;
}

.clearfix {
  clear: both;
  height: 0;
}

/* note */

.admonition {
  background: #f8f8f8;
  border-radius: 8px;
  padding: 0.85em 1.5em 0.01em;
  margin: 1em 0em 1em;
}
.admonition p {
  color: #323232;
  font-size: 14px;
}
#article .admonition img {
  display: inline;
  margin: 0 4px;
}

/* Twitter */
.testimonials {
  background-color: #f5f5f5;
  border-bottom: 1px solid #d6d6d6;
}

#twtr-scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#twtr-scroll::-webkit-scrollbar {
  display: none;
}

#twtr-content {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.twtr-card {
  float: left;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 475px;
  height: 150px;
  overflow: hidden;
  font-size: 12px;
  padding: 15px 20px 5px;
  position: relative;
}

.twtr-card:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
}

@media (max-width: 550px) {
  #twtr-scroll {
    overflow-y: hidden;
  }
  #twtr-content {
    width: 2000px !important;
    overflow: auto;
  }
  .twtr-card {
    width: 360px;
    margin-left: 10px;
  }
  .twtr-card img {
    width: 65px !important;
    height: 65px !important;
  }
  .twtr-card p {
    font-size: 12px !important;
  }
  .twtr-card p:nth-child(3) {
    font-size: 14px !important;
    bottom: 20px !important;
    left: 20px !important;
    position: absolute;
  }
}

.twtr-card img {
  border-radius: 50%;
  width: 105px;
  height: 105px;
  margin: 10px 15px 10px 0px;
  border: 1px solid #dfdfdf;
}

.twtr-card p {
  font-size: 14px;
  color: #222;
  margin-bottom: 3px;
}

.twtr-card p:nth-child(3) {
  text-transform: uppercase;
  color: #35a7ff;
  font-size: 16px;
  bottom: 20px;
  left: 130px;
  position: absolute;
}

.hiring {
  background-color: #ed2d2d;
  border-radius: 2px;
  padding: 3px 7px;
  color: white;
}

.hiring:hover {
  background-color: #bc4752;
  color: white;
}
