<!DOCTYPE html>
<html lang="en" class="js csstransforms3d">
  <head>
    <meta charset="utf-8">
    {{ partial "meta.html" . }}
    {{ partial "favicon.html" . }}
    {{ .Scratch.Add "title" "" }}{{ if isset .Site.Data.titles .Title }}{{ .Scratch.Set "title" (index .Site.Data.titles .Title).title }}{{ else }}{{ .Scratch.Set "title" .Title}}{{end}}
    <title>{{ with .Params.pagetitle }}{{ . }}{{ else }}{{ with .Title }}{{ . }}{{ end }}{{ end }}</title>
    {{ partial "style.html" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/featherlight.min.js"></script>
    <link rel="icon" type="image/png" href="/images/ephemeral-logo.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZEVF7KNQ8L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZEVF7KNQ8L');
    </script>
    <!-- end of gtag.js -->
</head>
<body>
  <body class="" data-url="{{ .RelPermalink }}">
<div class="container" id="inner-nav">

    <div id="menu"><a href="#">Menu</a></div>
    <script>
        $(document).ready(function() {
            $("#menu").click(function() {
                $(".mobile_menu").slideToggle("fast", function() {

                });
            });
        });
    </script>


    <div class="menu">
        <ul>
          <li><a href="/#features">Guides</a></li>
          <li>|</li>
          <li><a href="/#background">About</a></li>
          <li>|</li>
          <li class="contributed-text">Contributed by <a class="disguise-link" href="{{ with .Params.contributorurl }}{{ . }}{{ else }}{{ with .Site.Params.contributorurl }}{{ . }}{{ end }}{{ end }}" target="_blank">{{ with .Params.contributor }}{{ . }}{{ else }}{{ with .Site.Params.contributor }}{{ . }}{{ end }}{{ end }} </a></li>
        </ul>
    </div>

    <p class="logo">
        <a href="/"><img src="/images/ephemeral-logo.png" width="50" /></a>
    </p>


    <div class="mobile_menu">
        <ul>
            <li style="font-size:20px;color:white">Menu</li>
            <li>
                <hr />
            </li>
            <li><a href="../#features">Guides</a></li>
            <li><a href="../#background">About</a></li>

        </ul>

    </div>

</div>
