
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title> Enterprise Ready</title>
    <meta name="description" content="A guide for SaaS companies to build the features enterprises love.">
    <meta name="author" content="">

      <!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
      <!-- Javascript
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
      <script type="text/javascript" src="../js/base.js"></script>

      <!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>

      <!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/skeleton.css">
      <link rel="stylesheet" href="/css/base.css">

      <!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" id="inner-nav">
      <p align="center"><a href="/"><img src="/images/enterprise-ready-logo.png" width="50" /></a></p>
      <!--<ul>
          <li>The Checklist</li>
      </ul>-->
  </div>

  <div class="container" id="checklist">
        <h1 align="center">Coming Soon</h1>
  </div>


    <hr />

<div class="container" id="subscribe">
    <h2 align="center">Subscribe for the latest EnterpriseReady tips.</h2>
    <div class="row">
      <div class="three columns">
          &nbsp;
      </div>
      <div class="seven columns">
          <form action="https://replicated.createsend.com/t/d/s/uhvtj/" method="post" id="subForm">
              <input id="fieldEmail" name="cm-uhvtj-uhvtj" type="email" class="" placeholder="you@youremail.com">
              <input class="button" type="submit" value="Submit">
          </form>

      </div>
    </div>

</div>
    <hr />

<div class="container">
    <p align="right">© Enterprise Ready 2016 · Powered by <a href="https://www.replicated.com" target="_blank">Replicated</a></p>
</div>
    <!-- End Document–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
