<!DOCTYPE html>
<html lang="en" class="js csstransforms3d">
<head>
    <meta charset="utf-8">
    {{ partial "favicon.html" . }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@shipyardbuild">
    <meta name="twitter:title" content="EphemeralEnvironments.com">
    <meta name="twitter:description" content="Learn how ephemeral environments can help you and your team">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}/images/ephemeral-logo.png">
    <meta name="og:description" content="Learn how ephemeral environments can help you and your team">
    <meta property="og:image" content="{{ .Site.BaseURL }}/images/ephemeral-logo.png" itemprop="image" />
    <meta property="og:title" content="Ephemeral Environments" />
    <title>Ephemeral Environments</title>
    <meta name="description" content="A guide for companies who want to begin using ephemeral environments"> {{ partial "style.html" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/featherlight.min.js"></script>
</head>

<body>
    <div class="container" id="inner-nav">

        <div id="menu"><a href="#">Menu</a></div>
        <script>
            $(document).ready(function() {
                $("#menu").click(function() {
                    $(".mobile_menu").slideToggle("fast", function() {

                    });
                });
            });
        </script>


        <div class="menu">
            <ul>
                <li><a href="/#features">Guides</a></li>
                <li>|</li>
                <li><a href="../#background">About</a></li>
                <li>|</li>
                <li>Contributed by <a class="disguise-link" href="https://www.shipyard.build" target="_blank">Shipyard</a></li>
            </ul>
        </div>

        <p class="logo">
            <a href="/"><img src="/images/ephemeral-logo.png" width="70" /></a>
        </p>

        <div class="mobile_menu">
            <ul>
                <li style="font-size:20px;color:white">Menu</li>
                <li>
                    <hr />
                </li>
                <li><a href="../#features">Guides</a></li>
                <li><a href="../#background">About</a></li>

            </ul>

        </div>

    </div>

    <div class="nav-div"></div>

    <div class="masthead-wrapper">
        <div class="container">
            <h2 style="text-align: center;">Ephemeral Environments Feature Guides</h2>
            <p style="text-align: center;">This resource is for developers, product, and QA teams who build cloud products. This information is sourced from interviews with DevOps practitioners and members from large organizations who use ephemeral environments to optimize their workflow.</p>

        </div>
    </div>



    <div class="testimonials">
        <div id="twtr-scroll">
            <div id="twtr-content">
                <a href="" target="_blank">
                    <div class="twtr-card">
                        <img src="/images/social/david-aronchick.png" align='left' />
                        <p style="padding-top:30px;">When developing software, bugs are an eventuality. We use ephemeral environments to isolate their blast radius.</p>
                        <p>David Aronchick, Google and Microsoft</p>
                    </div>
                </a>

                <a href="" target="_blank">
                    <div class="twtr-card">
                        <img src="/images/social/james-lindenbaum.png" align='left'/>
                        <p style="padding-top:30px;">If all of your environments, from local to production, aren't ephemeral, you are doing it wrong.</p>
                        <p>James Lindenbaum, Co-founder @ Heroku</p>
                    </div>
                </a>

                <a href="" target="_blank">
                    <div class="twtr-card">
                        <img src="/images/social/blank.png" align='left' />
                        <p style="padding-top:20px;">Iterating on our infrastructure is a critical part to our application development. The best way to test those changes safely is by using ephemeral environments.</p>
                        <p>Peter Norton, Knewton and Librato</p>
                    </div>
                </a>




            </div>
        </div>

        <div class="clear"></div>


    </div>

    <div class="container" id="checklist">
        <a name="features"></a>
        <div id="features-intro" style="text-align: center;">
            <h2 style="text-align: center;" class="section-header" style="margin-bottom: 10px;">Ephemeral Environments 101</h2>
            <p style="text-align: center;" style="max-width:1000px">These guides will walk you through the process of preparing your organization for ephemeral environments. They cover FAQs, useful features, and common challenges that come into play when getting started with environments.</p>
        </div>
        <div class="row">

            <div class="four columns">
                <a href="features/collaboration">
                    <div class="article-icon"><span class="co"></span></div>
                    <h3 style="text-align: center;" class="article-header">Collaboration</h3>
                </a>
                <p style="text-align: center;">Share environments across teams for a faster dev cycle</p>
                <p style="text-align: center;">
                    <a class="read-more" href="features/collaboration">Read More</a>
                </p>
            </div>


            <div class="four columns">
                <a href="features/testing">
                    <div class="article-icon"><span class="te"></span></div>
                    <h3 style="text-align: center;" class="article-header">Testing</h3>
                </a>
                <p style="text-align: center;">Keep your releases stable with a CI/CD pipeline and user testing</p>
                <p style="text-align: center;">
                    <a class="read-more" href="features/testing">Read More</a>
                </p>
            </div>

            <div class="four columns">
                <a href="features/security">
                    <div class="article-icon"><span class="sec"></span></div>
                    <h3 style="text-align: center;" class="article-header">Security</h3>
                </a>
                <p align="center">Best practices for keeping your environments safe and secure</p>
                <p align="center">
                    <a class="read-more" href="features/security">Read More</a>
                </p>
            </div>

    </div>
    <div class="row">
      <div class="four columns">
          <a href="features/auto-deploy">
              <div class="article-icon"><span class="de"></span></div>
              <h3 align="center" class="article-header">Auto Deployment</h3>
          </a>
          <p align="center">Keep your product up-to-date with every new code change</p>
          <p align="center">
              <a class="read-more" href="features/auto-deploy">Read More</a>
          </p>
      </div>
      <div class="four columns">
          <a href="features/scalability">
              <div class="article-icon"><span class="dm"></span></div>
              <h3 style="text-align: center;" class="article-header">Scalability</h3>
          </a>
          <p style="text-align: center;">Cut costs with environments that scale to your needs</p>
          <p style="text-align: center;">
              <a class="read-more" href="features/scalability">Read More</a>
          </p>
      </div>
    </div>

  </div>


                    <div class="background-wrapper">
                        <div class="container" id="intro">
                            <a name="background"></a>
                            <h2 align="center" class="section-header">About EphemeralEnvironments.com</h2>
                            <div class="row" style="margin-top:35px">
                                <div class="one-half column">
                                    <h3 id="who-its-for" class="section-header sub">Who it’s for</h3>
                                    <p>EphemeralEnvironments.com is for companies who want to begin using ephemeral environments, or who are at the early stages of implementation.</p>
                                </div>
                                <div class="one-half column">
                                    <h3 id="what-it-is" class="section-header sub">What it is</h3>
                                    <p>A series of guides to assist your team with implementing ephemeral environments from the ground up, and any steps or features that may be involved.</p>
                                </div>
                            </div>
                            <div class="row">
                                <h3 id="who-its-from" class="section-header sub">Who we are</h3>
                                <p>We're engineers at <a href="https://www.shipyard.build">Shipyard</a>, a company that helps you and your team use ephemeral environments. We run our product entirely on ephemeral environments and are big advocates for the productivity and convenience delivered by these automated staging environments.

                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="footer-wrapper">
                        <div class="container" id="footer">
                            <p align="center">
                                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
              <img alt="Creative Commons License" class="cc-image" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
            </a> Contributed by <a class="shipyard-logo" href="https://www.shipyard.build" target="_blank"></a></p>
                            <br/>
                            <p align="center">Shipyard makes ephemeral environments fast, easy, and stable.</p>
                        </div>





</body>
</html>
