<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {{ partial "favicon.html" . }}
    {{ partial "gtm-header.html" . }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@enterpriseready">
    <meta name="twitter:creator" content="@replicatedhq">
    <meta name="twitter:title" content="EnterpriseReady - Build SaaS Features Enterprises Love">
    <meta name="twitter:description" content="A guide for SaaS companies to build the features that enterprises love.">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}/images/twtr/enterprise-ready-og-card.png">
    <meta name="og:description" content="Changing the enterprise software narrative from 'how to SELL to the enterprise' to 'how to BUILD for the enterprise.'">
    <meta property="og:image" content="{{ .Site.BaseURL }}/images/twtr/enterprise-ready-og-card.png" itemprop="image" />
    <meta property="og:title" content="EnterpriseReady - Build SaaS Features Enterprises Love" />
    <title>EnterpriseReady - Build SaaS Features Enterprises Love</title>
    <meta name="description" content="A guide for SaaS companies to build the features that enterprises love.">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/featherlight.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="google-site-verification" content="mG4BE6bMefzVKJpT18rPznHY0MmsR-xmL9pXUziFAPU" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {{ partial "qualified-header.html" . }}
</head>

<body>
    {{ partial "gtm-body.html" . }}
<div id="wrapper">
    <div class="header-section">
        <div class="container" id="inner-nav">

            <nav class="navbar navbar-expand-lg" style="background-color: #141C34">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="/images/enterprise-ready-logo.svg" width="60" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                         data-target="#mobile-collapse" aria-controls="mobile-collapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mobile-collapse">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <div id="feature-guides-hover" class="dropdown">
                                    <a class="nav-link active dropbtn" aria-current="page" href="/#features">Feature
                                        guides</a>
                                    <div class="dropdown-content">
                                        <div class="dropdown-features">
                                            <div class="dropdown-column">
                                                <div id="dropdown-feature">
                                                    <a href="features/product-assortment"><img
                                                            src="/images/product_icon_menu.svg" />Product Assortment</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="features/role-based-access-control/"><img
                                                            src="/images/role_based_access_icon_menu.svg" />Role based
                                                        access control</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="features/deployment-options/"><img
                                                            src="/images/deployment_options_icon_menu.svg" />Deployment
                                                        options</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="features/advanced-reporting/"><img
                                                            src="/images/reporting_icon_menu.svg" />Reporting and
                                                        analytics</a>
                                                </div>
                                            </div>
                                            <div class="dropdown-column">
                                                <div id="dropdown-feature">
                                                    <a href="features/single-sign-on"><img
                                                            src="/images/sign-on-_icon_menu.svg" />Single sign-on</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="features/change-management/"><img
                                                            src="/images/change_management_icon_menu.svg" />Change
                                                        management</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="features/teams/"><img
                                                            src="/images/team_management_icon_menu.svg" />Team
                                                        management</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="features/sla-support/"><img
                                                            src="/images/SLA_icon_menu.svg" />SLA and support</a>
                                                </div>

                                            </div>
                                            <div class="dropdown-column">
                                                <div id="dropdown-feature">
                                                    <a href="features/audit-log/"><img
                                                            src="/images/audit_icon_menu.svg" />Audit logs</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="features/product-security/"><img
                                                            src="/images/security_icon_menu.svg" />Product security</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="features/integrations/"><img
                                                            src="/images/integrations_icon_menu.svg" />Integrations</a>
                                                </div>
                                                <div id="dropdown-feature">
                                                    <a href="gdpr/"><img src="/images/GDPR_icon_menu.svg" />GDPR</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a id="assessment-hover" class="nav-link" href="/assessment">Assessment</a>
                            </li>
                            <li class="nav-item">
                                <a id="podcast-hover" class="nav-link" id="podcast-nav" href="/podcast">Podcast</a>
                            </li>
                            <li class="nav-item" style="border-bottom: none;">
                                <a id="about-hover" class="nav-link" href="/about">About</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            Contributed by <a id="disguise-link" href="https://www.replicated.com"
                                target="_blank">REPLICATED</a>
                        </span>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="section-hero">
        <div class="masthead-wrapper flex">
            <div class="new-container flex">
                <div class="hero-main-frame-background">
                    <div class="main-content">
                        <h2>EnterpriseReady</h2>
                        <p>Created to help people build software for the enterprise, based on a study of the 50 leading
                            SaaS
                            applications.</p>
                    </div>
                </div>
                <div class="fixed-width-podcast">
                    {{ range ( where .Site.RegularPages "Type" "podcast" | last 1 ) }}
                    <h3><a href="{{ .Permalink }}">EP<span style="color: #e2dfd4">{{ .Weight }}</span><img
                                src="../images/Polygon 1.svg" height="22px"
                                style="vertical-align:-2px;padding-left: 10px;" /></a></h3>
                    <p>{{ .Description }}</p>
                    <p><a href="/podcast" id="podcast-small">EnterpriseReady <span
                                style="color: #e2dfd4">Podcast</span></a></p>
                                {{end}}
                </div>
            </div>
        </div>
    </div>

    <div class="call-to-action">
        <img src="../images/App+Checkmark.svg" height="145px" style="margin-right: 40px;" />
        <div style="margin-left: 20px;margin-right: 20px;">
            <h3 class="my-5 text-white">Is your app ready for enterprise buyers?</h3>
            <p><a href="https://www.enterprisegrade.io" class="button button-secondary" target="_blank" style="width: 300px">Take
                    Assessment</a>
            </p>
        </div>
    </div>

    <div class="testimonials">
        <h2>Industry leaders on EnterpriseReady</h2>
        <div class="carousel-container">
            <a data-bs-target="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <img class="carousel-buttons" src="../images/play-left.svg" />
            </a>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/hiten-twtr.png" />
                            <div class="testimonial-content">
                                <p>The folks over at Replicated have put together a monster “EnterpriseReady SaaS
                                    feature
                                    guide".</p>
                                <p><span style="color:#F44247">Hiten Shah, Founder @ Kissmetrics</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/tom-twtr.png" />
                            <div class="testimonial-content">
                                <p>If you're thinking about selling your SaaS product to enterprises, EnterpriseReady is
                                    the best place to start.</p>
                                <p><span style="color:#F44247">Tom Preston-Werner, Founder @GitHub</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/steve-twtr.png" />
                            <div class="testimonial-content">
                                <p>How to build software for the enterprise. Great guide for startups.</p>
                                <p><span style="color:#F44247">Steve Blank, Lean Startup</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/pryor-twtr.png" />
                            <div class="testimonial-content">
                                <p>EnterpriseReady SaaS guide... neat!</p>
                                <p><span style="color:#F44247">Michael Pryor, CEO @ Trello</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/diana-twtr.png" />
                            <div class="testimonial-content">
                                <p>In a world of dev libraries and style guides, here's a FEATURE guide to build for the
                                    #enterprise</p>
                                <p><span style="color:#F44247">Diana Zhouyou, Tobey @ Product Talkdesk</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/alexis-twtr.png" />
                            <div class="testimonial-content">
                                <p>You're going to wanna bookmark this if you're doing or thinking about doing or could
                                    possibly do SaaS.</p>
                                <p><span style="color:#F44247">Alexis Ohanian, Co-founder @ Reddit</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/john-twtr.png" />
                            <div class="testimonial-content">
                                <p>Great guide on making your SaaS enterprise ready</p>
                                <p><span style="color:#F44247">John Sheehan, Co-founder and CEO @ Runscope</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/lawrence-twtr.png" />
                            <div class="testimonial-content">
                                <p>11 feature reqs to make your SaaS product enterprise-ready: includes reasoning, next
                                    steps, tear downs.</p>
                                <p><span style="color:#F44247">Lawrence Hecht, Analyst @ The New Stack</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/lee-twtr.png" />
                            <div class="testimonial-content">
                                <p>Such a good resource if you're making software</p>
                                <p><span style="color:#F44247">Lee Munroe, Design @ Mesoshpere</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/guy-twtr.png" />
                            <div class="testimonial-content">
                                <p>Super helpful for B2B SaaS</p>
                                <p><span style="color:#F44247">Guy Podjarny, Founder @ Snyk</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/jim-twtr.png" />
                            <div class="testimonial-content">
                                <p>Valuable resource for SaaS vendors thinking about moving upmarket to enterprise.</p>
                                <p><span style="color:#F44247">Jim Andelman, Investor @ Rincon Venture Partners</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/alissa-twtr.png" />
                            <div class="testimonial-content">
                                <p>Terrific guide to becoming "enterprise ready" </p>
                                <p><span style="color:#F44247">Alissa Briggs, Head of Design @ PlanGrid</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/larry-twtr.png" />
                            <div class="testimonial-content">
                                <p>Building for the enterprise? read the entirety of: EnterpriseReady.io</p>
                                <p><span style="color:#F44247">Larry Gadea, Founder @ Envoy</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/brad-twtr.png" />
                            <div class="testimonial-content">
                                <p>If you run a SaaS company and are trying to figure out enterprise start here:</p>
                                <p><span style="color:#F44247">Brad Gessler, CTO @ Poll Everywhere</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/matthew-twtr.png" />
                            <div class="testimonial-content">
                                <p>Incredible resource for product teams at SaaS companies looking to move into the
                                    enterprise</p>
                                <p><span style="color:#F44247">Matthew Bellows, Founder @ Yesware</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/jevon-twtr.png" />
                            <div class="testimonial-content">
                                <p>Super helpful</p>
                                <p><span style="color:#F44247">Jevon, Co-founder @ Manifold and GoInstant</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/mehdi-twtr.png" />
                            <div class="testimonial-content">
                                <p>This is much needed resource. Too many Saas companies fail at this.</p>
                                <p><span style="color:#F44247">Mehdi Oufkir, Founder @ Punchtab (ACQ: Walmart)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/vaibhav-twtr.png" />
                            <div class="testimonial-content">
                                <p>This is a great guide for making your SaaS product 'enterprise ready'</p>
                                <p><span style="color:#F44247">Vaibhav Nivargi, CTO @ Clearstory Data</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-container">
                            <img class="avatar-image" src="/images/social/hana-twtr.png" />
                            <div class="testimonial-content">
                                <p>Useful for those shifting upmarket > EnterpriseReady</p>
                                <p><span style="color:#F44247">Hana Abaza, Head of Marketing @ ShopifyPlus</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a data-bs-target="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <img class="carousel-buttons" src="../images/play-right.svg" />
            </a>
        </div>
    </div>
    

    <div class="guides-section">
        <a name="features"></a>
        <div class="container" id="checklist">
            <img class="guidebook" src="/images/Guidebook Blue.svg" />
            <div class="features-intro" style="text-align: center;">
                <h1 style="text-align: center;" class="section-header">Guides to <br> becoming EnterpriseReady</h1>
                <p style="text-align: center;" style="max-width:1000px">The following 12 feature categories were identified
                    as the common enterprise differentiating features. Each feature guide includes context for why it is
                    needed, a jumping off
                    point for implementing your own and links to tear
                    downs of example implementations.</p>
            </div>

            <div class="guide-flex-container">
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/product-assortment.svg" />
                        <h3>Product Assortment</h3>
                        <p>Offer different versions of a product to meet the differing needs of enterprise buyers.</p>
                        <a href="features/product-assortment" class="button button-primary" style="width: 100%">Read
                            More</a>
                            </div>
                </div>
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/single-sign-on.svg" />
                        <h3>Single sign-on</h3>
                        <p>Enable enterprises to manage users from a single, central directory.</p>
                        <a href="features/single-sign-on/" class="button button-primary" style="width: 100%">Read
                            More</a>
                    </div>
                </div>
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/audit-logs.svg" />
                        <h3>Audit Logs</h3>
                        <p>Provide admins with a detailed trail of account activity.</p>
                        <a href="features/audit-log/" class="button button-primary" style="width: 100%">Read
                            More</a>
                    </div>
                </div>
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/role-based-access.svg" />
                        <h3>Role Based Access Control</h3>
                        <p>Allow for the separation of privileges by user role.</p>
                        <a href="features/role-based-access-control/" class="button button-primary" style="width: 100%">Read
                            More</a>
                    </div>
                </div>
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/change-management.svg" />
                        <h3>Change Management</h3>
                        <p>Empower admins with tools and collateral to roll out features and product
                            changes.</p>
                        <a href="features/change-management/" class="button button-primary" style="width: 100%">Read
                            More</a>
                    </div>
                </div>
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/product-security.svg" />
                        <h3>Product Security</h3>
                        <p>Demonstrable application security through best practices.</p>
                        <a href="features/product-security/" class="button button-primary" style="width: 100%">Read
                            More</a>
                    </div>
                </div>
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/deployment-options.svg" />
                        <h3>Deployment Options</h3>
                        <p>Balance data security concerns and application overhead with flexible deployment
                            options.</p>
                        <a href="features/deployment-options/" class="button button-primary" style="width: 100%">Read
                            More</a>
                    </div>
                </div>
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/team-management.svg" />
                        <h3>Team Management</h3>
                        <p>Enable collaboration with coworkers in an account that is centrally managed.</p>
                        <a href="features/teams/" class="button button-primary" style="width: 100%">Read
                            More</a>
                    </div>
                </div>
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/integrations.svg" />
                        <h3>Integrations</h3>
                        <p>Create data portability by allowing customers to pull data out and push data into your
                            application.</p>
                        <a href="features/integrations/" class="button button-primary" style="width: 100%">Read
                            More</a>
                    </div>
                </div>
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/reporting-analytics.svg" />
                        <h3>Reporting & Analytics</h3>
                        <p>Reports allow admins to demonstrate value gained from the use of an application.</p>
                        <a href="features/advanced-reporting/" class="button button-primary" style="width: 100%">Read
                            More</a>
                    </div>
                </div>
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/SLA-support.svg" />
                        <h3>SLA and Support</h3>
                        <p>A primer on the basics of enterprise SLA &amp; support requirements.</p>
                        <a href="features/sla-support/" class="button button-primary" style="width: 100%">Read
                            More</a>
                    </div>
                </div>
                <div class="checklist-item-container">
                    <div class="checklist-item">
                        <img src="/images/GDPR.svg" />
                        <h3>GDPR</h3>
                        <p>The European Union’s General Data Protection Regulation.</p>
                        <a href="gdpr/" class="button button-primary" style="width: 100%">Read
                            More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=big-testimonial>
        <div class="container" id="big-testimonial">
            <div class="big-testimonial-section">
                <img class="twtr-bird" src="/images/twitter-bird-white.svg"/>
                <div class="big-testimonial-content">
                    <h2>You’re going to wanna bookmark this if you’re doing or thinking about doing or could possibly do
                        SaaS.
                    </h2>
                    <img src="/images/social/alexis.jpg" id="alexis"/>
                </div>
                <p style="text-align: right;">Alexis Ohanian, Co-founder @ Reddit</p>
            </div>
        </div>
    </div>

    <div class="podcast-section">
        <div class="container" id="podcast-container">
            <div class="podcast-content">
                <h3>The EnterpriseReady Podcast</h3>
                <p>This show features in-depth interviews with industry experts and enterprise software founders
                    as we try to break through the jargon, establish a common vernacular and share the lessons learned from
                    BUILDING the world’s best enterprise software.</p>
                <a class="button button-primary" href="/podcast">Past and Upcoming Shows</a>
            </div>
            <img class="podcast-image" src="/images/podcast-hero.svg"/>
        </div>
    </div>

    <div class="example-implementations-section">
        <div class="example-implementations">
            <h3 align="center" class="section-header">Example Implementations by Leading SaaS Companies</h3>
            <p align="center" class="header-desc-copy">Detailed analysis of how the top SaaS companies implement each core
                EnterpriseReady feature.</p>

            <div class="example-implementations-tabs">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="zendesk" role="tabpanel" aria-labelledby="zendesk-tab">
                        <div class="implementation-background">
                            <div class="feature-analysis-column">
                                <h3>Feature Analysis</h3>
                                <div style="text-align: left;">
                                    <a href="/zendesk/product-assortment" class="button button-light" target="_blank"
                                        >Product Assortment</a>
                                    <a href="/zendesk/audit-log" class="button button-secondary" target="_blank"
                                        >Audit Log</a>
                                    <a href="/zendesk/change-management" class="button button-secondary" target="_blank"
                                        >Change Management</a>
                                </div>
                            </div>
                            <img class="example-logo" src="/images/zendesk-big.svg" />
                        </div>
                    </div>

                    <div class="tab-pane fade" id="hubspot" role="tabpanel" aria-labelledby="hubspot-tab">
                        <div class="implementation-background">
                            <div class="feature-analysis-column">
                                <h3>Feature Analysis</h3>
                                <div style="text-align: left;">
                                    <a href="/hubspot/reporting" class="button button-light" target="_blank">Reporting & Analytics</a>
                                    <a href="/hubspot/role-based-access-control" class="button button-secondary" target="_blank"
                                        >Role Based Access Control</a>
                                </div>
                            </div>
                            <img class="example-logo" src="/images/hubspot-big.svg" />
                        </div>
                    </div>
                    <div class="tab-pane fade" id="google" role="tabpanel" aria-labelledby="google-tab">
                        <div class="implementation-background">
                            <div class="feature-analysis-column">
                                <h3>Feature Analysis</h3>
                                <div style="text-align: left;">
                                    <a href="/google/product-assortment" class="button button-light" target="_blank"
                                        >Product Assortment</a>
                                    <a href="/google/audit-log" class="button button-secondary" target="_blank" >Audit
                                        Log</a>
                                </div>
                            </div>
                            <img class="example-logo" src="/images/google-big.svg" />
                        </div>
                    </div>
                    <div class="tab-pane fade" id="slack" role="tabpanel" aria-labelledby="slack-tab">
                        <div class="implementation-background">
                            <div class="feature-analysis-column">
                                <h3>Feature Analysis</h3>
                                <div style="text-align: left;">
                                    <a href="/slack/product-assortment" class="button button-light" target="_blank"
                                        >Product Assortment</a>
                                    <a href="/slack/sso" class="button button-secondary" target="_blank"
                                        >Single Sign-On</a>
                                </div>
                            </div>
                            <img class="example-logo" src="/images/slack-big.svg" />
                        </div>
                    </div>
                    </div>
            
                <ul class="nav mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="zendesk-tab" data-bs-toggle="pill" data-bs-target="#zendesk" role="tab"
                            aria-controls="zendesk" aria-selected="true"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="hubspot-tab" data-bs-toggle="pill" data-bs-target="#hubspot" role="tab" aria-controls="hubspot"
                            aria-selected="false"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="google-tab" data-bs-toggle="pill" data-bs-target="#google" role="tab" aria-controls="google"
                            aria-selected="false"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="slack-tab" data-bs-toggle="pill" data-bs-target="#slack" role="tab" aria-controls="slack"
                            aria-selected="false"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{ partial "subscribe-form.html" }}

    <div class="footer-wrapper">
        <div class="container" id="footer">
            <p>
                Contributed by
            </p>
            <a href="https://www.replicated.com" target="_blank"><img src="/images/logo-white.svg" /></a>
        </div>
    </div>

    <!-- Twitter universal website tag code -->
    <script>
        ! function(e, t, n, s, u, a) {
            e.twq || (s = e.twq = function() {
                    s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
                }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '//static.ads-twitter.com/uwt.js',
                a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
        }(window, document, 'script');
        // Insert Twitter Pixel ID and Standard Event data below
        twq('init', 'nxrcn');
        twq('track', 'PageView');
    </script>
    <!-- End Twitter universal website tag code -->

    <!-- LNKD Audience website tag code -->
    <script type="text/javascript">
        _linkedin_partner_id = "434996";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
        (function() {
            var s = document.getElementsByTagName("script")[0];
            var b = document.createElement("script");
            b.type = "text/javascript";
            b.async = true;
            b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
            s.parentNode.insertBefore(b, s);
        })();
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=434996&fmt=gif" />
    </noscript>
    <!-- END LNKD Audience website tag code -->

    {{ with .Site.Params }}
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
        var u="//{{ .matomo_host }}/";
        _paq.push(['setTrackerUrl', u+'data/']);
        _paq.push(['setSiteId', '{{ .matomo_site }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
    {{ end }}

    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/featherlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Start of Pardot Code -->
    <script type="text/javascript">
        piAId = '949072';
        piCId = '40969';
        piHostname = 'pi.pardot.com';
        (function() {
        function async_load(){
        var s = document.createElement('script'); s.type = 'text/javascript';
        s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') +
        '.pardot.com/pd.js';
        var c = document.getElementsByTagName('script')[0];
        c.parentNode.insertBefore(s, c);
        }
        if(window.attachEvent) { window.attachEvent('onload', async_load); }
        else { window.addEventListener('load', async_load, false); }
        })();
      </script>
      <!-- End of Pardot Code -->

    <!-- Cookie Banner Button Replacement -->
    <script>
        $(document).ready(function(){
            $('#pi_tracking_opt_in_yes').click(function(){
                piEnableTracking(this); 
                return false;
            });

            $('#pi_tracking_opt_in_no').click(function(){
                piDisableTracking(this); 
                return false;
            });
        });
    </script>
    
</div>
</body>
    
</html>
