{{ partial "header.html" . }}
<div class="second-nav">
    <div class="container" id="breadcrumbs">
        <div id="tool-tip">
            <span style="cursor:pointer;color:#878787"><a href="/GDPR">GDPR</a></span><span>/</span> {{.Title}}
        </div>
    </div>
</div>
  
<div class="container gdpr" id="article">
  
    <h1>{{.Title}}</h1>
  
      <div class="episode-flex-container">
        {{ .Content }}

        {{ range .Pages.ByWeight.Reverse }}
            <div class="episode">
                <a href={{ .Permalink }} target="_blank">
                    <img src={{ .Params.Image }} align="left" style="margin: 0;" />
                </a>
                <div class="clearfix"></div>
                <h3>
                    <a href={{ .Permalink }}>Ep. #{{ .Weight }} - {{ .Title }}</a>
                </h3>
            </div>
        {{ end }}
      </div>
<br />

{{ partial "footer.html" . }}